# Ignore node_modules directory
node_modules/

# Ignore compiled Python files
__pycache__/

# Ignore environment files
.env

# Ignore compiled binaries
*.exe
*.dll
*.so

# Ignore macOS system files
.DS_Store
